{{ define "main" }}
<div  class="container-padding">
    <div class="donation-thank-you row">
        <div class="col-md-6" style="padding: 0">
            <img src="images/one-time-donations/hero-image.jpg" />
            <div class="hero-credits">
                <div style="text-align: center">
                    {{ partial "art-by.html" (dict "context" "." "name" "MPetrelli" "url" "https://www.instagram.com/michelepetrelliart/") }}
                </div>

            </div >

        </div>

        <div class="col-md-6" style="padding: 3rem;">

            {{ .Content }}

            <p class="transaction-container">
                {{ i18n "transation-id" }}<strong id="transactionId"></strong>
            </p>

            <p id="paymentStatus"> 
                <span>{{ printf (htmlEscape (i18n "paid-amount")) `<span id="transcationAmount"></span>` | safeHTML }}</span>
            </p>


            <p>{{ i18n "transaction-issues-text" }}</p>

            <p>
                <a class="button pointer" href="{{ relLangURL "/" }}">{{ i18n "back-to-website" }}</a>
            </p>
        </div>
    </div>
</div>
{{ end }}
